.central-body {
  height: calc(100vh - 70px);
  width: 100%;
  background: url(https://cdn-assets.alltrails.com/uploads/photo/image/20918527/extra_large_3cfced14c70546ed3d4454f14e289461.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.central-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info-contain {
  /* display: flex; */
  /* flex-wrap: wrap; */
  padding-top: 25px;
  /* justify-content: space-around; */
  /* align-items: stretch; */
  /* align-content: flex-start; */
  width: 50vw;
  overflow: scroll;
  height: 600px;
  overflow-y: auto;
  overflow-x: auto;
}

.info-cards {
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 10px;
  box-shadow: 10px 10px 20px black;
  margin-bottom: 15px;
  padding: 15px;
  font-size: x-large;
  text-align: left;
  font-weight: 600;
  font-family: initial;
}

.map-central {
  margin-right: 30px;
  margin-top: 30px;
  height: 550px;
  width: 40vw;
  border-radius: 10px;
  box-shadow: 10px 10px 20px black;
}

.map-marker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pin {
  height: 20px;
  width: 15px;
}

.central-comment-container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin-top: 10px;
  background-color: rgb(143, 0, 0);
  border-top: 2px solid black;
  box-shadow: 10px 10px 20px black;
  color: black;
  font-family: sans-serif;
  font-weight: 600;
}
.img-contain {
  display: flex;
  justify-content: space-between;
}

.trail-img {
  height: 200px;
  width: 300px;
}
.malachite-img {
  height: 200px;
  width: 300px;
}
