.header-box {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  display: flex;
  background-color: rgb(143, 0, 0);
  border: 2px solid black;
  box-shadow: 10px 10px 20px black;
  align-items: center;
  justify-content: space-around;
}
h1 {
  font-weight: 900;
  font-size: 4vh;
  margin: 0;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-decoration-style: dashed;
}
a {
  color: black;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}
a :link {
  color: black;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}
a :visited {
  color: green;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  color: blue;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}

.log-reg {
  width: 13%;
  display: flex;
  justify-content: space-around;
  color: black;
}
.logout-button {
  height: 5vh;
  width: 9vw;
  background-color: rgb(143, 0, 0);
}
