.header-box {
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    display: flex;
    background-color: rgba(8, 102, 71, 0.507);
    align-items: center;
    justify-content: space-around;
}
.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    /* position: relative; */
    /* margin-left: auto; */ 
}
.log-reg {
    width: 10%;
    display: flex;
    justify-content: space-around;
}